.weather-card {
    .card {
        min-height: 238px;
        width: 300px;
        text-align: center;
        .card-day {
            font-size: 32px;
        }
        .content-container {
            display: flex;
            flex-direction: row;        
            .card-content {
                display: flex;
                flex-direction: column;
    
                img {
                    margin-top: 14px;
                    align-self: center;
                     width: 80px;
                }
                .day-temp {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (min-width: 375px) and (max-width: 812px) {
    .weather-card {
        margin-top: 20px;
    } 
}